---
import Icon from './Icon.astro';
---

<section class="box education">
	<div class="stack gap-2 lg:gap-4 custom">
        <img height="300px" width="250px" src="/assets/education/garbi_logo.png"> 
		<h2>Escola Garbi Pere Vergés</h2>
		<p>Baccalaureate in Science and Technology</p>
        <Icon icon="calendar" color="var(--accent-regular)" size="2.5rem" gradient />
        <p>2016 - 2018</p>
	</div>
	<div class="stack gap-2 lg:gap-4 custom">
        <img class="foto-fib" height="250px" width="200px" src="/assets/education/fib-upc_logo.png">   
		<h2>Polytechnic University of Catalonia</h2>
		<p>Software Engineering</p>
        <Icon icon="calendar" color="var(--accent-regular)" size="2.5rem" gradient />
		<p>2018 - In progress</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

    img {
        display: grid;
        justify-content: space-between;
    }

    .custom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto-fib {
        padding-bottom: 35px;
        padding-top: 40px;
    }

	.education {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.education h2 {
		font-size: var(--text-lg);
	}

	.education p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.education {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		.education h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
