---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Curious</h2>
		<p>Learning to improve my skills and understanding how things work.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="people" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Friendly</h2>
		<p>Consider and respect all the team opinions to look for the choice that fits the best.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>Looking for the appropriate choice in every step of the development.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="palette" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Creative</h2>
		<p>Adding my custom view in any development in keeping with the style.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="tendup" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Constant</h2>
		<p>A steady pace of work leads to success.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="gota" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Adaptive</h2>
		<p>Ease in tackling new goals and undertaking them.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
