---
import Icon from './Icon.astro';
---

<section class="box work">
	<div class="stack gap-2 lg:gap-4 custom">
        <img height="300px" width="250px" src="/MyPorfolio/assets/work/coyma-logo.png"> 
		<p>First contact in a company • Intensive week in 2021</p>
        <Icon icon="handshake" color="var(--accent-regular)" size="2.5rem" gradient />
        <p>Learning the basics of the company and the structure related between different departments</p>
	</div>
	<div class="stack gap-2 lg:gap-4 custom">
        <img height="250px" width="200px" src="/MyPorfolio/assets/work/etseib_logo.png">   
		<p>Internship contract • 05/2022 - 03/2023</p>
        <Icon icon="desktop" color="var(--accent-regular)" size="2.5rem" gradient />
		<p>Computer installation and maintenance, user support and management and reception of orders</p>
	</div>
	<div class="stack gap-2 lg:gap-4 custom">
		<img class="foto-fib" height="250px" width="300px" src="/MyPorfolio/assets/work/upc_net_logo.jpg">   
		<p>Traineeship contract • 03/2023 - 01/2024</p>
        <Icon icon="filecode" color="var(--accent-regular)" size="2.5rem" gradient />
		<p>Moodle developer. Main tasks related to backend and development of plugins using PHP. Also implementing frontend functionalities with HTML, CSS and JS.
			 Moreover, I have used testing tools as Behat and PHPunit. In addition, used Git for code version control</p>
	</div>
	<div class="stack gap-2 lg:gap-4 custom space-between ">
	</div>
	<div class="stack gap-2 lg:gap-4 custom space-between ">
		<img class="" height="250px" width="300px" src="/MyPorfolio/assets/work/logo_HLA.svg">   
		<p>Employment contract • 09/2023 - At present</p>
        <Icon icon="filecode" color="var(--accent-regular)" size="2.5rem" gradient />
		<p>IOT developer using RFID system and frontend programmer.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}
    .custom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

	.space-between {
		padding-top: 2.5rem;
	}

    img {
        display: grid;
        justify-content: space-between;
    }

	.work {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.work h2 {
		font-size: var(--text-lg);
	}

	.work p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.work {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;
		}

		.work h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
